<h2>School Projects</h2>
  <h4>Roboproject</h4>
  <p>
    A school project where we built a robot that had to perform in four tasks: Labyrinth, bowling and robowar. My main responsibility area was in its software in C. We used PSOC-microprocessor.
  </p>
  <h4>SpaceDuds</h4>
  <p>
    A game written in Java that generated galaxies that you could explore. The main point was in random generation and you could drive on planets with physics based 2d car. After the course goals we set were achieved we closed that project and moved on to "Solarstorm (work name)" as it had many of the elements in common with SpaceDuds.
  </p>
</div>